# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
**/.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Custom
**/.legacy
**/mcp_library